<div class="circle1"></div>
<div class="circle2"></div>
</div>
<div class="footer-padding"></div>
  <div class="footer " style="position:fixed; bottom:0px; color:white">
    Made by Shreyansh maurya
  </div>
</div>
</body>
</html>
